html,
body {
  height: 100vh;
}

#root,
.App {
  height: inherit;
  overflow-y: auto;
}

.App {
  padding-top: 50px;
  background-color: rgba(10, 91, 116, 0.623);
}

.navbar {
  position: absolute;
  top: 0;
}

.title {
  margin-top: auto;
  text-align: center;
  color: #111;
  font-size: 3rem;
}

input {
  margin: 5px;
  background-color: rgba(211, 228, 233, 0.418) !important;
}

input,
.btn,
.reminders-list {
  border: 1px solid rgb(73, 73, 73) !important;
  border-radius: 0 !important;
}

.reminder-form {
  /* padding: 5px; */
  margin-bottom: 3rem;
}

.reminder-form-time input {
  max-width: 50%;
  box-sizing: border-box;
  display: inline-block;
  border-top: 0 !important;
  border-bottom: 0 !important;
}

.reminder-form .form-group {
  margin: 0 !important;
}

.add-reminder-btn {
  width: 100%;
}

.reminders-list {
  box-sizing: border-box;
}

.list-group-item {
  border-radius: 0 !important;
}

.list-item {
  display: inline-block;
}
.delete-button {
  float: right;
  padding-left: 5px;
  cursor: pointer;
  display: none;
}

.list-group-item:hover .delete-button {
  display: block;
}

.reminder-clear {
  float: right;
  background-color: transparent;
  border: 2px solid transparent !important;
}

.reminder-clear:hover {
  /* background-color: rgb(200, 100, 80); */
  border: 2px solid rgb(218, 218, 218) !important;
  color: rgb(218, 218, 218);
}

@media only screen and (max-width: 576px) {
  .App {
    padding-top: 50px;
  }

  .title {
    font-size: 1.8rem;
  }

  .content-wrap {
    margin: 15px 0;
  }
}
