html,
body {
  height: 100vh;
}

#root,
.App {
  height: inherit;
  overflow-y: auto;
}

.App {
  padding-top: 100px;
  background-color: rgba(221, 205, 85, 0.623);
}

.navbar {
  position: absolute;
  top: 0;
}

.title {
  margin-top: auto;
  text-align: center;
  color: #111;
  font-size: 3rem;
}

input {
  margin: 5px;
  border: 2px solid #111 !important;
}

input,
.btn {
  border: 2px solid #111 !important;
}

.reminder-form {
  padding: 5px;
  margin-top: auto;
}

.list-item {
  display: inline-block;
}
.delete-button {
  float: right;
  padding-left: 5px;
  cursor: pointer;
}

.reminder-clear {
  margin-bottom: auto;
}

@media only screen and (max-width: 576px) {
  .App {
    padding-top: 50px;
  }

  .title {
    font-size: 1.8rem;
  }

  .content-wrap {
    margin: 15px 0;
  }
}
