html, body {
  height: 100vh;
}

#root, .App {
  height: inherit;
  overflow-y: auto;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.navbar {
  position: absolute;
  top: 0;
}

.title {
  margin-top: auto;
  text-align: center;
  font-weight: bold;
  color: #FFF;
  text-shadow: 3px 3px 3px #888;
  font-size: 3rem;
}

input {
  margin: 5px;
}

.reminder-form {
  padding: 5px;
  margin-top: auto;
}

.list-item {
  display: inline-block;
}
.delete-button {
  float: right;
  padding-left: 5px;
  cursor: pointer;
}

.reminder-clear {
  margin-bottom: auto;
}

@media only screen and (max-width: 576px) {
  .App {
    display: block;
  }

  .title {
    font-size: 1.8rem;
  }

  .content-wrap {
    margin: 15px 0;
  }
}

@media only screen and (max-height: 768px) {
  .App {
    display: block;
  }
}
